<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Edit Listing</h3>
    <form action="/listings/<%=listing._id%>/?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%=listing.title%>" placeholder="enter title" class="form-control" required>
        <div class="valid-feedback">Title Looks Good</div>
        <div class="invalid-feedback">title is required</div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required> <%=listing.description%></textarea>
            <div class="invalid-feedback">Desciption is required</div>
        </div>

        <div class="mb-3">
         <p>Original listing image</p>
        <img src="<%=originalImageUrl%>" alt="" style="height: 100px;width: 200px;">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]"  placeholder="enter img url/link" class="form-control" >
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Price</label>
        <input type="number" name="listing[price]" value="<%=listing.price%>" placeholder="enter price" class="form-control" required>
        <div class="invalid-feedback">price is required</div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Country</label>
        <input type="text" name="listing[country]" value="<%=listing.country%>" placeholder="enter country" class="form-control" required>
        <div class="invalid-feedback">country is required</div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%=listing.location%>" placeholder="enter location" class="form-control" required>
        <div class="invalid-feedback">location is required</div>
        </div>
        <button class="btn add-btn">Add</button>
        <br><br>
    </form>
    </div>
    </div>
